+++
title = "UK GEMINI"
linkTitle = "UK GEMINI"

+++

{{< blocks/cover title="UK GEMINI: The Geospatial Metadata Standard for the UK!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<br>
	{{< blocks/link-down color="info" >}}
</div>
<span>Photo by <a href="https://unsplash.com/@arnosenoner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Arno Senoner</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p><strong>Why is discovery metadata important?</strong> Data can only be useful and used if it can be found.</p>
<p><strong>Why is a metadata standard important?</strong> Publishing your metadata in a recognised standard inspires trust, enables new services, and opens up international opportunities.  </p>
<p><strong>“GEMINI” is the UK geographic metadata standard.</strong> It provides guidance on how to publish geographic metadata in a way that conforms to relevant ISO standards and the UK’s implementation of the European INSPIRE regulations.</p>
<p>UK GEMINI (GEo-spatial Metadata INteroperability Initiative) is a specification for a set of metadata elements for describing geospatial data resources. It has been produced and is maintained by the <a href="https://www.agi.org.uk/agi-groups/standards-committee" target="_blank" rel="noopener noreferrer">Standards Committee</a>. It is provided free of charge by the AGI for the benefit of the GI community, under a Creative Commons license.</p>
<p>If you're thinking, "why GEMINI? Why not just use the INSPIRE Metadata guidance or the ISO standards?" <a title="Why GEMINI?" href="/why" target="_blank" rel="noopener noreferrer">Click here for some reasons.</a></p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}







